 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

 $primary-color: #003b95;



 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 ul,ol{
   list-style: none;
 }

 body{
    font-family: 'Roboto', sans-serif;
 }

 header{
   background-color: $primary-color;
   margin-bottom: 120px;
   
   .container{
      position: relative;
   }

   .navbar-brand{
      font-size: 25px;
      font-weight: 500;
   }

   .currency:hover{
      background: #ffffff26;
   }

   .lang{
      img{
         width: 24px;
         height: 24px;
         border-radius: 12px;
      }
   }

   .lang:hover{
      background: #ffffff26;
   }

   .help:hover{
      background: #ffffff26;
   }

   .header-links{
      a.active{
         padding: 8px 15px;
         color: white;
         background: #ffffff2a;

         span{
            font-weight: 400;
            font-size: 14px;
         }
      }

      .link{
         span{
            font-weight: 400;
            font-size: 14px;
         }
      }

      .link:hover{
         background: #ffffff26;
      }
   }

   .header-title{
      padding: 64px 5px 78px 5px;

      h1{
         font-size: 48px;
         font-weight: 700;
      }

      p{
         font-size: 24px;
         font-weight: 400;
      }
   }

   .header-searchbox{
      position: absolute;
      width: 100%;
      bottom: -75px;

      .form-row{
         background: rgb(255, 183, 0);
         margin-bottom: 16px;
      }
   

      .form-field:hover{
         outline: 1px solid red;
      }

      input{
         outline: 0;
      }



      input::placeholder{
         font-size: 14px;
         color: black;
      }

      span{
         font-size: 14px;
      }

      .terms{
         label{
            font-size: 14px;
            font-weight: 400;
         }
      }
   }
 }

 .offers{
   margin-bottom: 60px;

   .container{
      p{
         color: #474747;
         font-size: 16px;
      }

      .card{
         box-shadow: 1px 1px 5px lightgray;
         border: 0;
      }
   }


 }

 .explore{
   margin-bottom: 30px;
 }

 .browse{
   margin-bottom: 30px;
 }

 .trending{
   margin-bottom: 30px;

   .container{
      .card{
         cursor: pointer;
         .card-img-overlay:hover{
            box-shadow: 0 30px 30px inset rgba(0, 0, 0, 0.187);
         }
      } 
   }
 }

 .planner{
   .planner-links{
      margin-bottom: 20px;
      a{
         font-size: 13px;
      }

      a:hover{
         background-color: #4747471b;
      }

      a.active{
         color: #006ce4;
         font-size: 15px;
         padding: 10px 15px;
         background-color: #006ae40c;
      }
   }
 }

 .inspiration{
   margin-top: 30px;
   .header-row{
      a{
         text-decoration: none;
      }
      a:hover{
         text-decoration: underline;
      }
   }
   .card{
      cursor: pointer;
      .card-img-overlay{
         box-shadow: 0 -60px 30px inset rgba(0, 0, 0, 0.437);
      }
   } 
 }

 .unique{
   margin-top: 40px;


   .ratings{
      span{
         font-size: 13px;
         color: #474747;
      }
   }

   .card{
      box-shadow: 1px 1px 20px lightgray;
   }

   .price{
      span{
         font-size: 13px;
         color: #474747;
      }

      h5{
         color: black;
      }
   }
 }

 .homes{
   margin-top: 40px;
      .header-row
         a{
            text-decoration: none;
         }
         a:hover{
            text-decoration: underline;
         }

   .ratings{
      span{
         font-size: 13px;
         color: #474747;
      }
   }

   .card{
      box-shadow: 1px 1px 20px lightgray;
   }

   .price{
      span{
         font-size: 13px;
         color: #474747;
      }

      h5{
         color: black;
      }
   }
 }

 .banners{
   margin-top: 30px;

   .banner-1{
      .card{
         background-image: url(./assets/banner-back.png);
         background-repeat: no-repeat;
         background-position: right;
         border: 0.5px solid lightgray;
   
   
         .buttons{
            .register:hover{
               background-color: #006ae41e;
            }
         }
   }

   }

   .banner-2{
      position: relative;
      margin-top: 30px;

      .card{
         border: 0.5px solid lightgray;

         .col-2{
            position: absolute;
            bottom: 20px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: orange;
         }
   
         .col-5{
            position: absolute;
            top: -50px;
            left: 15%;
            height: 400px;
            border-radius: 50%;
            background-color: #006ce4;
   
            button{
               width: 60%;
               border: 0;
               padding: 5px 0;
               background: #fff;
               color: #006ce4;
               font-size: 14px;
               border-radius: 2px;
            }
         }
   
         .col-4{
            position: absolute;
            right: 10px;
            top: 10px;
   
            img{
               width: 100%;
               height: 260px;
            }
         }

      }
  
   }

 }

 .destination{
   margin-top: 20px;

   .nav-item{
      margin-bottom: 20px;

      button{
         font-size: 15px;
         color: black;
         padding: 10px 15px;
         border-radius: 100px;
         border: 1px solid transparent;
      }

      button:hover{
         background-color: #4747471b;
      }

      button.active{
         color: #006ce4;
         font-size: 15px;
         padding: 10px 15px;
         background-color: #006ae40c;
         border: 1px solid #006ce4;
         border-radius: 100px;
         box-shadow: 0 0 3px 1px #006ce4;
      }
   }

   .tab-content{
      ul{
         display: flex;
         flex-direction: column;
         gap: 10px;


         li{
            a{
               text-decoration: none;
               color: #1a1a1a;
               font-size: 14px;
            }

            a:hover{
               text-decoration: underline;
            }

            span{
               font-size: 13px;
               color: #474747;
            }
         }
      }
   }
 }

 .sign-up{
   background-color: #00224f;
   padding: 50px 0;

   p{
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0;
   }

   span{
      font-size: 16px;
      color: #bdbdbd;
      margin-bottom: 18px;
   }

   .input-group{
      input{
         width: 30%;
         padding: 13px 6px;
         border: none;
         border-radius: 5px;
         border-top-right-radius: 10px;
      }

      input::placeholder{
         padding-left: 5px;
         font-size: 16px;
         font-weight: 300;
      }

      button{
         width: 10%;
         font-size: 20px;
         font-weight: 300;
      }
   }
 }

 .property{
   background-color: rgb(0, 59, 149);
   padding: 10px 0 0 0;

   .container-fluid{
      padding: 0;

      .line{
         width: 100%;
         height: 1px;
         background-color: #fff;
         margin-top: 15px;
      }

      ul{
         list-style: none;
         display: flex;
         margin-bottom: 0;
         padding-left: 0;

         li{
            padding: 10px 15px;
            border-right: 0.5px solid #00224f;
            
            a{
               color: #fff;
               font-size: 14px;
            }
         }

         li:hover{
            background-color: #00224f6c;
         }
      }
   }
 }

 footer{
   margin-top: 20px;

   .container{
      ul{
         list-style: none;

         li{
            
           a{
               font-size: 13px;
               text-decoration: none;
            }
         }
      }

      .login:hover{
         color: red;
      }
   }
 }

 ///Trendings/// 
 
 .breadcrumb-section{
   ol{
      li{
         font-size: 12px;
         a{
            font-size: 12px;
            text-decoration: none;
         }
      }
   }
 }

 .filters{
   padding: 5px 0;
   ul {
      li{
         padding: 7px 10px;

         span{
            font-size: 12px;
         }
      }
   }
 }

 .sort-btn{
   font-size: 14px;
   color: #1a1a1a;
 }

//  Hotels

.match-button{
   background-color: rgba(0, 113, 194, 0.15);

   button{
      background-color: transparent;
      border: none;
      color: rgb(0, 113, 194);
      padding: 10px;
      transition: 0.15s;
   }

   button:hover{
      background-color: rgba(0, 106, 228, 0.138);
   }
}

.hotel-form{
   background-color: rgb(254, 187, 2);

   input{
      box-shadow: none !important;
   }

   input::placeholder{
      font-size: 14px;
   }

   label{
      font-size: 12px;
      color: #262626;
   }
}

.hotel-nav{
   border-bottom: 1px solid lightgray;

   li{
      a{
        font-size: 14px;
        color: #262626;
        padding: 10px 16px;
     
      }

      a.active{
         border-bottom: 1px solid #006ce4;
      }
   }

   li:hover{
      background-color: #e4e4e4;
   }

   li:hover a{
      color: #262626;
   }
}

.hotel-name{ 


   h2{
      font-size: 24px;
   }


   button{
      font-size: 14px;
      color: #0071c2;
      padding: 0 13px;
      background-color: transparent;
   }

   button:hover{
      background-color: rgba(0, 113, 194, 0.15);
   }
}

.hotel-location{
   span{
      font-size: 14px;
   }
   a{
      font-size: 14px;
      text-decoration: none;
      font-weight: bolder;
   }

   a:hover{
      text-decoration: underline;
   }
}



